<div id="container">
  @if(loading$ | async){
  <h1>Cargando ....</h1>
  }@else if((loading$ | async) === false){
  <div id="heros">
    @for (hero of filteredHeros(); track hero) {
    <div id="heros__hero">
      <span>{{ hero.name }}</span>
      <span>{{ hero.age }}</span>
      <span>{{ hero.ageGroup }}</span>
      <button mat-raised-button color="primary" [routerLink]="['/hero/', hero]">
        Editar
      </button>
      <button mat-raised-button color="warn" (click)="deleteHero(hero)">
        Borrar
      </button>
    </div>
    }@empty{ No se han encontrado resultados }
  </div>
  <div id="formbox">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Filtrar por nombre"
          (input)="filterHeros($event)"
        />
      </mat-form-field>
    </form>
  </div>
  <button mat-raised-button color="accent" [routerLink]="['/hero/']">
    Añadir nuevo
  </button>
  }
</div>
